<nav class="navbar navbar-expand-lg bg-third">
  <div class="container-fluid">
    <a class="navbar-brand title-font" href="{{ path('home') }}">PurrfectMatch</a>
    {# {% if is_granted('ROLE_USER') %}
    <div>Hello {{ app.user.firstname}}</div>
    {% endif %} #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="{{ path('home') }}">Home</a>
        {% if is_granted('ROLE_USER') %}
          <a class="nav-link" href="{{ path('cat_new') }}">Add cat profile</a>
          <a class="nav-link" href="{{ path('owner_page', {id : app.user.id}) }}">Your page</a>
          <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>