{% extends 'base.html.twig' %}

{% block title %}Cat{% endblock %}

{% block body %}
    <h1 class="text-center title-font mb-5 mt-5" >{{cat.name}}</h1>
    <div class="d-flex justify-content-evenly flex-wrap ">
        <div class="d-flex align-items-center ">
            {% if cat.profilePicture %}
            <img src="{{ asset('/uploads/profiles_pictures/' ~ cat.profilePicture)}}"
                alt="photo de profil" class="rounded-circle profile-picture">
            {% else %}
            <img src="{{ asset('build/images/blank-profil-picture.png' )}}" alt="profile picture"
                class="rounded-circle profile-picture">
            {% endif %}
        </div>
        
        <div class="mt-3 ">
            <h2 class="text-secondary">{{cat.age}} years old {{cat.breed}}</h2>
            <h2 class="text-secondary">{{cat.sex}}</h2>
            <div id="description" class="text-secondary">{{cat.description}}</div>
        </div>
    </div>
    {% if app.user.email is same as cat.owner.email %}
    <div class="container d-flex justify-content-around"> 
        <button type="button" class="btn bg-third m-3" data-bs-toggle="modal"
            data-bs-target="#catProfilPictureModal">
            Update profile picture
        </button>

        <button type="button" class="btn btn-primary m-3" href="{{ path('cat_edit', {'id': cat.id}) }}">
            Edit profile
        </button>
    </div>
        
        <div class="modal fade" id="catProfilPictureModal" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                            Update profile picture
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" name="user"
                            method="post" enctype="multipart/form-data" class="m-2">

                            <div class="input-group">
                                <input type="file" class="form-control" name="upload-cat-picture"
                                    id="upload-cat-picture">
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}">

                                <button type="submit" class="btn btn-primary p-2">
                                    Confirm
                                </button>
                            </div>
                            <p class="file-size text-center"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


{% endblock %}
